// Tablets and Smaller
@media (max-width: 800px) {
  #header-home {
    height: 30rem;

    .header-content {
      padding-top: 5rem;
    }
  }
}

// Smartphones
@media (max-width: 500px) {
  #main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
    a {
      color: #fff;
    }
  }
  #header {
    &-home {
      height: 12rem;
      border-bottom: 3px solid $main-color;
      background-position: 20% 30%;

      .header-content {
        display: none;
      }
    }
    &-inner {
      height: 12rem;
    }
  }

  //   Stack Grid columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-c .about-logos,
  #about-d .testimonials,
  .items {
    grid-template-columns: 1fr;
  }

  //   Home
  #home {
    &-a {
      .specials div {
        border-bottom: 1px solid $medium-color;
        padding: 1rem 0;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }

    &-b {
      .stats div {
        padding: 1.5rem 0;
      }
    }
  }

  //   About
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }
      .bio {
        align-self: center;
      }
    }

    &-c {
      .about-logos img {
        width: 35%;
        margin: auto;
      }
    }
  }

  //   Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "email"
          "subject"
          "phone"
          "message";
      }
    }

    &-b {
      .contact-info {
        display: block;
        div {
          margin-bottom: 1rem;
          padding: 1rem 0;
          border-bottom: 1px solid #555;

          &:last-child {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }
      }
    }

    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }
  // footer stack
  #main-footer {
    height: 7rem;
    .footer-content {
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      height: 5rem;
    }
    .social {
      margin-top: 0.5rem;
    }
  }
}

// Landscape Mode
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
    }
  }
}
@media (max-height: 330px) {
  #header-home {
    .header-content h1 {
      font-size: 2rem;
    }
  }
}
