@import "config";
@import "utilities";
@import "item_grid";
// General style
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
  height: 100%;
}
a {
  text-decoration: none;
  color: $light-color;
}
ul {
  list-style: none;
}
h2,
h3,
h4 {
  text-transform: uppercase;
}
img {
  width: 100%;
}
// Logo
#logo {
  width: 100px;
  height: 100px;
}
// Main nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
    text-transform: uppercase;
  }
  li {
    padding: 1rem 1.5rem;
  }
  a {
    text-decoration: none;
    color: #333;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    font-weight: bold;

    &:hover {
      border-color: #fff;
    }

    &.current {
      border-color: $main-color;
    }
  }
}
// Header
#header {
  // Header home
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    // Header content
    .header-content {
      text-align: center;
      padding-top: 20%;
      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }
  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}
// Home Sections
// Home section A
#home {
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fas {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }
  // Home Section B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }
        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }
  // Home Section C
  &-c {
    margin: 2rem 0;
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      &-step {
        font-size: 28px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 0.5s ease-in-out;
      }
      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        transition: all 0.5s ease-in-out;

        &:hover {
          background: $main-color;
          line-height: 90px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

// About Section
#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        "bioimage bio   "
        "aw1 aw2 aw3";
      grid-gap: 1.2rem;
    }

    // grid areas
    .bio-image {
      grid-area: bioimage;
    }
    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
    }
    .award-1 {
      grid-area: aw1;
    }
    .award-2 {
      grid-area: aw2;
    }
    .award-3 {
      grid-area: aw3;
    }
    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $main-color;
    }
  }
  // About B
  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $main-color;
      }
    }
  }
  // About C
  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
      img {
        width: 70%;
      }
    }
  }
  // About D
  &-d {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;

      ul {
        margin-top: 1rem;
        display: flex;
        align-items: center;
      }
      p {
        border: 1px solid $medium-color;
        padding: 0.5rem;
        border-radius: 5px;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
  }
}
// Contact Page
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        "name email"
        "subject phone"
        "message message";
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;
      // Grid Areas
      .name-imput {
        grid-area: name;
      }
      .email-imput {
        grid-area: email;
      }
      .subject-imput {
        grid-area: subject;
      }
      .phone-imput {
        grid-area: phone;
      }
      .message-imput {
        grid-area: message;
        height: 100px;
      }
      .text-imput {
        padding: 0.5rem 1rem;
      }
    }
    button[type="submit"] {
      width: 50%;
    }
  }
  &-b {
    .contact-info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
    }
  }
  &-c {
    h1 {
      font-size: 4rem;
      color: $main-color;
    }
  }
}
// Footer
#main-footer {
  background: $dark-color;
  padding: 1rem;
  color: #fff;
  width: 100%;
  height: 5rem;
  position: relative;
  bottom: -30px;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;

    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      padding: 1rem;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      transition: 0.5s ease-in-out;

      &:hover {
        background: $main-color;
      }
    }
  }
}
// Import Media Queries
@import "media";
